.Bomb {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    border: 2px solid orange;
    z-index: 1;
    animation: thump 1s infinite;
}

.Explosion {
    background-color: orange;
    border-radius: 50%;
    border: 2px solid red;
    z-index: 2;
    animation: explode 1s steps(10, end) forwards;
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes thump {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes explode {
    0% {
        background-image: url(../assets/Explosion_1.png);
    }
    10% {
        background-image: url(../assets/Explosion_2.png);
    }
    30% {
        background-image: url(../assets/Explosion_4.png);
    }
    70% {
        background-image: url(../assets/Explosion_8.png);
    }
    100% {
        background-image: url(../assets/Explosion_10.png);
        opacity: 0;
    }
}
