@import url(menu.css);
@import url(scoreboard.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    color: white;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* Use fractional units for columns */
    grid-auto-rows: 1fr; /* Use fractional units for rows */
    aspect-ratio: 1 / 1; /* Maintain a square aspect ratio */
    gap: 0;
    position: relative;
    
    width: 90vmin; /* Use vmin to scale based on the smaller viewport dimension */
    height: 90vmin; /* Use vmin to scale based on the smaller viewport dimension */

    border: 2px solid white;
    background-color: #222;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    max-width: 1200px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-bottom: 2px solid white;
    top: 0;
    left: 0;
}

#scoreboard div {
    font-size: 18px;
    margin: 0 10px;
}

.wall, .block, .empty {
    display: inherit;
    box-sizing: border-box;
}

.wall {
    background-color: #555;
}

.block {
    background-color: #c99;
}

.empty {
    padding: 0;
    margin: 0;
    background-color: #222;
}

.player {
    padding: 0;
    margin: 0;
    background-color: #00f;
    border-radius: 50%;
    z-index: 100; 
}

.bomb {
    background-color: #ff0;
    border-radius: 50%;
}

.explosion {
    background-color: #f90;
}

.enemy {
    background-color: #f00;
    border-radius: 50%;
}

.power-up {
    background-color: #0f0;
    border-radius: 50%;
}