body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, sans-serif;
}

#start-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 800px;
    height: 80vh;
    max-height: 600px;
    background-color: #000;
    border: 2px solid silver;
    position: relative;
}

#game-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    box-sizing: border-box;
}

#game-area {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    border-top: 1px solid silver;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

#paddle {
    position: absolute;
    bottom: 10px;
    width: 20%;
    max-width: 150px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#ball {
    position: absolute;
    width: 2vw;
    max-width: 20px;
    height: 2vw;
    max-height: 20px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#bricks {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    height: 50%;
}

.brick {
    position: relative;
    background-color: #075297;
    border: 2px solid #c0392b;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 2px; 
}
